<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} - All Rights Reserved.
                </p>
                <p>
                    Proudly powered by <a href="http://ghost.org">Ghost</a>.
                </p>
                <a id="go-top" href="#" class="go-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
        </div>
    </div>
</footer>